.header{

    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;

    position: fixed;
    left: 0;
    right: 0;
    top: 0;
        
    background-color: black;
    color: white;

    height: 55px
}

.left-section{
    flex: 1;
    display: flex;
    align-items: center;
}

.Menu{
    height: 50px;
    margin-right: 10px;
}

.right-section{
    display: flex;
    width: 150px;
    align-items: center;
}

.Logout{
    margin-right: 20px;
}