.header{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;

    position: fixed;
    left: 0;
    top: 0;
    right: 0;

    height: 80px;
    background-color: rgb(209, 66, 66);
    color: white;

    
}

.left-section{
    flex: 1;
    display: flex;
    align-items: center;
}

.LaFMS{
    margin-left: 30px;
    font-size: 20px;
}

.right-section{
    margin-right: 140px;
    font-size: 20px;
}

.text{
   
    background-color: rgba(245, 38, 38, 0.292);
    color: rgb(0, 0, 0);
    border-style: solid;
    border-radius: 5px;
    border: color(srgb 255 255 255);
    font-size: 50px;
    box-shadow: inset;

    margin-top: 250px;
    padding: 50px;
    
    text-align: center;
    
    left: 0;
    right: 0;
}

ul {
    list-style: none;
}

ul li{
    display: inline-block;
    position: relative;
}

ul li a{
    display: block;
    padding: 20px 25px;
    color: white;
    text-decoration: none;
    text-align: center;
    font-size: 20px;
}

ul li ul.drowndown li {
    display: block;
}

ul li ul.dropdown{
    width: 200px;
    background: #ef3a3a;
    position: absolute;
    z-index: 999;
    display: none;
}

ul li a:hover{
    background: #a01919;
}

ul li:hover ul.dropdown{
    display: block;
}
