.header{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;

    height: 80px;
    background-color: rgb(209, 66, 66);
    color: white;
    font-family: arial;
    font-size: 20px;
    
}

.LaFMS{
    margin-left: 20px;
}

.StudentLogin{
    border-style: solid;
    margin-top: 100px;
    height: 300px;
    width: 600px;
    border-radius: 3px;
}

.student-text{
    border-bottom-style: solid;
    text-align: center;
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
}

.Sr-code{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: bold;
    margin-top: 40px;
    margin-bottom: 10px;
    margin-left: 25px;
}

.user{
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 25px;
    border-radius: 3px;
}

.Password{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: bold;
    margin-top: 15px;
    margin-bottom: 10px;
    margin-left: 25px
}

.password{
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 25px;
    border-radius: 3px;
    margin-right: 10px;
}

.Login-Button{
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 2px;
    background-color: rgb(238, 81, 81);
    color: white;
    margin-right: 10px;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-right: 5px;
    padding-left: 5px;
}

.Cancel-Button{
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 2px;
    background-color: rgb(238, 81, 81);
    color: white;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-right: 5px;
    padding-left: 5px;
}