body{
    font-family: inter;

    background-color: #FFF0F3;
    color: #A4133C;
    margin: 0px ;
}

.right-section{
    display: inline-block;
    position: absolute;
    width: 515px;
    height: 738px;
    margin-left: 1000px;
    background-color: #A4133C;
}

div h2{
    color: #FFF0F3;
    font-size: 40px;
    text-align: center;
    font-style: italic;
}

.container{
   
    height: 500px;
    width: 500px;

    
   position: absolute;
    margin-top: 40px;
    margin-left: 300px;

}

.student-register{
    font-size: 30px;
    margin-bottom: 70px;
    margin-left: 30px;
}

.Sr-code{
    font-size: 20px;
    margin-bottom: 10px ;
}

.user{
    height: 45px;
    width: 300px;
    border-radius: 30px;
    border-style: none;
    padding-left: 10px;
    
    margin-bottom: 20px;
}

.button-register{
    height: 45px;
    width: 300px;
    background-color: #A4133C;
    color: #FFF0F3;

    font-size: 15px;

    border-radius: 30px;
    border-style: none;

    margin-bottom: 10px;

    cursor: pointer;
}

.button-register:hover{
    opacity: 0.9;
}

.button-register:active{
    background-color: #d73966;
}

.Create-Button{
    height: 45px;
    width: 300px;
    background-color: #FFF0F3;
    color:#A4133C;

    font-size: 15px;

    border-radius: 30px;
    border-style: none;

    margin-left: 820px;
    
    cursor: pointer;
}

.Create-Button:hover{
    opacity: 0.9;
}

a{
    text-decoration: none;
    color: #A4133C;
}