

.Our-Team{
    font-style: bold;
    font-size: 30px;
    text-align: center;
}

.team-picture{
    background: #A4133C;
    height: 230px;
}

.background{
    display: grid;
    grid-template-columns: 200px 200px 200px 200px;
    
    
}

.grid-leomar{
    display: grid;
    background-color: lightblue;
}
.grid-mikaela{
    display: grid;
    background-color: lightpink;
}
.grid-aubrey{
    display: grid;
    background-color: lightgreen;
}

.grid-genella{
    display: grid;
    background-color: lightgrey;
}

.leomar-pic{
    display: grid;
    background-color: rgb(255, 255, 255);
    height: 150px;
    border-radius: 100px;
    margin-top: 10px;
}

.name-leomar{
    display: grid;
    font-size: 20px;
    color: white;
    width: 200px;
    font-style: bold;
    
}

.mikaela-pic{
    display: grid;
    margin-top: 10px;
    background-color: white;
    height: 150px;
    border-radius: 100px;
  
}

.name-mikaela{
    display: grid;
    font-size: 20px;
    color: white;
    font-style: bold;
}

.aubrey-pic{
    display: grid;
    margin-top: 10px;
    background-color: white;
    height: 150px;
    border-radius: 100px;
}

.name-aubrey{
    display: grid;
    font-size: 20px;
    color: white;
    font-style: bold;
}

.genella-pic{
    display: grid;
    margin-top: 10px;
    background-color: white;
    height: 150px;
    border-radius: 100px;
}

.name-genella{
    display: grid;
    font-size: 20px;
    color: white;
    font-style: bold;
}