/* Import Font Here */

* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;

  gap: 1.3vw;
}

/* Main - parent-Report-Missing */
.parent-Report-Missing {
  border: 1px solid black;

  width: 82vw;
  height: 70vh;

  margin-top: 1vh;
}


/* nav-Report ---- navigation here */

.nav-Report {
  border: 1px solid black;

  display: flex;
  align-items: center;

  height: 10vh;

}

/* report-section */

.report-section {
  border: 1px solid black;

  width: 50vw;
  height: 40vh;

  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  gap: 3vh;
}