/* Import Font Here */

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --bg-Color: hsl(347, 100%, 98%);
  --bg-color-Aside: hsl(343, 79%, 36%);
  --bg-color-Aside-logo: hsl(343, 77%, 31%);
  --bg-color-Aside-shadow: hsl(343, 78%, 18%);
}

body  {
  background-color: var(--bg-Color);
}