



* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  
}

/* Design For Header/Navigation */

.Tables {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 1vh;
  
  border: 1px solid black;
  
  margin-top: 0.5vh;
  width: 80vw;
  height: 90vh; 
}

.nav {
  border: 1px solid black;
}

.parent-Nav {
  
  display: flex;
  height: 9vh;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;

}



/* Design for Table's */
.parent-Table {
  border: 1px solid black;
  border-radius: 20px;
  height: 50vh;
  width: 50vw;

  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;

}

.table-Header th {
  border: 1px solid black;
}