
* {
  margin: 0;
  padding: 0;
}

/* Design For Header/Navigation */

.Tables {
  border: 1px solid black;
  
  width: 50vw;
  height: 70vh;
}

.nav {
  border: 1px solid black;
}

.parent-Nav {
  /* border: 1px solid black; */
  display: flex;
  height: 9vh;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;

}



/* Design for Table's */
.parent-Table {
  border: 1px solid black;
  border-radius: 20px;
  height: 20vh;
  width: 40vw;

  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;

}

.table-Header th {
  border: 1px solid black;
}