

:root {
  --bg-color-Aside: hsl(343, 79%, 36%);
  --hover-color: #590D22;
}


/* a{
  font-size: 1.5rem;
  color: #ffffff;
  text-decoration: none;

  border: 1px solid black;
  width: 5vw;
  height: 6vh;
} */

button {
  padding: 15px 25px;
  border: unset;
  border-radius: 0;
  color: white;
  z-index: 1;
  background: var(--bg-color-Aside);
  position: relative;
  font-weight: 1000;
  font-size: 1.2rem;
  /* -webkit-box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27); */
  /* box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27); */
  transition: all 250ms;
  /* overflow: hidden; */
  width: 16vw;
 }
 
 button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0;
  border-radius: 15px;
  background-color: var(--hover-color);
  z-index: -1;
  -webkit-box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
  box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
  transition: all 250ms
 }
 
 button:hover {
  color: #e8e8e8;
 }
 
 button:hover::before {
  width: 100%;
 }