/* Trial */

.section-of-sign {
  /* border: 1px solid black; */
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.box {
  border: 1px solid black;
  width: 25vw;
  height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Admin {
  /* Under trial */
}

.Student {
  /* Under trial */
}

.Security {
  /* Under trial */
}