/* Font Here */
@import url('https://fonts.googleapis.com/css2?family=Sono:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sono&display=swap');

html {
  scroll-behavior: smooth;
}

:root {
  --text-Color: hsl(343, 75%, 20%);
}



main {
  display: flex;
  justify-content: center;
  /* margin-top: 5vh; */
  height: 87vh;
  min-width: 600px;

  /* border: 1px solid black; */
}


.section-1 {
  display: flex;
  align-items: center;
  gap: 15vw;
}

.sec-1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  /* border: 1px solid black; */
  height: 30vh;
  width: 40vw ;



}

main .section-1 #welcome {
  font-size: 5rem;
  color: var(--text-Color);
  font-family: 'Sono', monospace;
  
}

.section-1 .sec-1 #lost-and-found {
  font-size: 2rem;
  font-family: 'Sono', monospace;
  min-width: 500px;
  
}



.Robot-image-1 {
  width: 35vw;
} 
