* {
  margin: 0;
  padding: 0;
}

:root {
  --box-Color: hsla(343, 79%, 36%, 90%);
  --bg-Color: hsl(348, 100%, 97%);
  --shadow-box: hsl(0, 100%, 31%);

}

body {
  
  background: url(/assets/Images/Bsu\ site.jpg);
  background-repeat: no-repeat;
  background-size:1940px;
  float: right;
}

aside {
  /* border: 1px solid black; */
  /* Flexx */
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  gap: 10rem;

  width: 35vw;
  height: 100vh;

  background-color: var(--box-Color);
  color: white;

  /* border radius */
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;

  position: relative;
}


/* fa-user-secret Admin Sign-in */  




/* Section here */

.Find-who {
  border: 1px solid black;

  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content:space-between ;
  /* gap: 5rem; */
  height: 50vh;

}

.Are-you-a, .find-Or {
  font-size: 2rem ;
}

.find-Link {
  border: 1px solid black;

  font-size: 2rem;
  color: var(--bg-Color);
  
}
