
/* Section */
.view {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-content: center;
  width: 50vw;
  height: 50vh;

  border: 1px solid black;
}

.input-text {
  display: flex;
  flex-direction: column;
  text-align: center;
}