* {
  margin-top: 0;
  margin-left: 0;  
  margin-right: 0;
}

.center, img {
  margin-top: 0 ;
  margin-left: 10px;
  width: 60vw;
}

nav {
  background-color: #3E5C76;
  color: rgb(255, 255, 255);
  border: 1px solid white;
  height: 20vh;
}
.IconText {
  width: 5vw;
  text-align: center;
  font-size: xx-large;
  margin-top: 2%;
}

.about, #li1{
  list-style: none;
  float: right;
  font-size: xx-large;
  width: 10vw;
}